*{
    padding: 0;
    margin: 0;
    font-family: Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #191825
    ;
}

header{
    color: #954435;
    height: 20px;
    background-color: #272829;
    flex-wrap: wrap;
    text-align: center;
    padding: 25px;
    margin: 10px;
    border-radius: 10px;
}

.contenido {
    min-height:400px ;
    height: 790px;
    display: flex;
    flex-wrap: wrap;
}

.cont1{
    color: #954435;;
    height: 740px;
    flex: 1;
    min-width: 250px;
}

.cont2{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    padding: 25px;
    background-color: #272829;
    margin-bottom: 0px;
}

.cont2 .cont2abs1{
    display: flex;
    flex: 2;
    padding: 25px;
    position: absolute;
    width: 50%;
    left: 25%;
    height: 300px;
    background-color:#393646;
    border-radius: 10px;
    
}

.cont2 .cont2abs2{
    flex: 2;
    padding: 25px;
    position: absolute;
    width: 50%;
    left: 25%;
    bottom: 5%;
    height: 300px;
    background-color:#393646;
    border-radius: 10px;
    
}


.redireccion li a{
    color:#954435;
}
.redireccion li{
    position: relative;
    padding: 15px;
    margin-top: 50%;
    left: 30px;
    font-size: xx-large;
    color: #954435;
}

.cont2abs2 h1{
    color: #954435; 
}
.tecnologias{
    color: #954435;
    padding: 5%;
}

.tecnologias li{
    padding: 2%;
}

.cont2abs2 h5{
    color: #954435;
}

.cont1 div{
    height: 325px;
    padding: 25px;
    background-color: #272829;
    margin: 20px;
}

footer{
    flex-wrap: wrap;
    text-align: center;
    margin: 10px;
    padding: 25px;
    background-color: #272829;
    border-radius: 10px;
}

footer{
    height: 10%;
    width: 95%%;
}

footer h1{
    color: #954435;;
    font-size: 2vh;
}

footer h3{
    color: #954435;;
    font-size: 2vh;
}
