body{
    background-color: rgb(255, 153, 153);
}

*{
    margin: 0;
    padding: 1%;
}



header{
    border-radius: 3%;
    background-color: rgb(255, 153, 102);;
    height: 15%;
    width: 100%;
    display: flex;
}


header .logo{
    width: 30%;
    height: 12vw;
    align-items: center
    
    
    
}

header .contenidoheader{
    border-radius: 7%;
    width: 70%;
    background-color: rgb(255, 153, 51 );

    height: 12vw;
}

header .contenidoheader h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5vh;
    text-align: center;
    margin-top: 3vw;
}




header .logo img{
    position: relative;
    left: 3vh;
    top: 0.5vh;
    height: 10vw;
    border-radius: 3%;
    
}

main {
    top: 20%;
    display: flex;
    width: 100%;
    height: 70%
}
main #contenido1{
    position: relative;
    background-color: rgb(255, 153, 102);;
    height: 50vw;
    width: 30%;
}

main #contenido1 img{
    position: relative;
    padding: 5vw;
    height: 40vw;
    width: 20vw;
    border-radius: 15%;
}

main #contenido2{
    border-radius: 1%;
    position: relative;
    background-color: rgb(255, 153, 102);
    height: 50vw;
    width: 70%;
}

main #contenido2 p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10%;
    font-size: 2vh;
}

main #contenido2 ul{
    
    position: relative;
    padding: 12%;
    font-size: 3vh;
}

main #contenido2 ul li{
    position: relative;
    font-size: 3vh;
    padding: 2%;
    bottom: 10vh;
    color: black;
}

main #contenido2 ul li a:active{
    color:rgb(114, 175, 226);
}

main #contenido2 ul li a:hover{
    color: violet;
}


footer{
    background-color:rgb(255, 153, 51 );
    text-align: center;
    top: 100%;
    height: 10%;
    width: 100%;
}

footer h1{
    font-size: 2vh;
}

footer h3{
    font-size: 2vh;
}